* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff;
    font-family: 'Poppins', sans-serif;
    height: auto;
}

main {
    margin-top: 3rem;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-h2 {
    text-align: left;
    font-size: 2.4rem;
    color: #2275ad;
    margin-bottom: 2rem;
    font-weight: 700;
    position: relative;
}

.title-h2::after {
    content: "";
    display: block;
    width: 20%;
    height: 4px;
    background: linear-gradient(90deg, #2275ad, #45b0e6);
    margin: 0.5rem auto;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    /* * {
        overflow-x: hidden;
    } */
     main{
        margin-top: 0rem;
     }
}